@media print,
(max-width: 1899px)
{
    /*-------------------
        Global styles
    -------------------*/
    .cont
    {
        padding: 0 24px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        margin-top: 52px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head .date
    {
        font-size: 20px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 20px;
    }


    .text_block > *
    {
        margin-bottom: 24px;
    }


    .text_block .slider .swiper-horizontal > .swiper-pagination-bullets,
    .text_block .slider .swiper-pagination-bullets.swiper-pagination-horizontal,
    .text_block .slider .swiper-pagination-custom,
    .text_block .slider .swiper-pagination-fraction
    {
        bottom: 24px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-right: 24px;
        padding-left: 24px;
    }


    .first_section .data
    {
        padding-left: 120px;
    }


    .first_section .cont
    {
        min-height: 632px;
        padding-top: 40px;
        padding-bottom: 40px;
    }


    .first_section .title
    {
        margin-bottom: 80px;
    }


    .first_section .circle_text
    {
        top: 40px;
        right: 20px;

        width: 100px;
        height: 100px;
    }



    .first_section .solutions
    {
        top: 192px;
        right: 92px;
    }


    .first_section .link_arrow
    {
        margin-top: 24px;
    }


    .first_section .big_arrow
    {
        left: -24px;

        width: 140px;
        height: 146px;
    }



    /*---------------
        Equipment
    ---------------*/
    .equipment .buttons
    {
        margin-top: 48px;
        margin-bottom: -24px;
        margin-left: -24px;
    }


    .equipment .buttons > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        padding-right: 24px;
        padding-left: 24px;
    }


    .page_head .data
    {
        padding-left: 120px;
    }


    .page_head .cont
    {
        min-height: 480px;
        padding-top: 40px;
        padding-bottom: 40px;
    }


    .page_head.small .cont
    {
        padding-top: 80px;
        padding-bottom: 80px;
    }


    .page_head .big_arrow
    {
        left: -24px;

        width: 140px;
        height: 146px;
    }


    .page_head .big_arrow,
    .page_head.small .big_arrow
    {
        top: 56px;
    }


    .page_head .title
    {
        margin-bottom: 40px;
    }


    .page_head .title.big_m
    {
        margin-bottom: 60px;
    }


    .page_head .desc,
    .page_head .desc.big_w
    {
        font-size: 20px;

        width: 530px;

        gap: 24px;
    }


    .page_head .desc br
    {
        display: none;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row
    {
        margin-bottom: -48px;
        margin-left: -24px;
    }


    .articles .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 48px;
        margin-left: 24px;
    }


    .articles .article .thumb
    {
        margin-bottom: 24px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .row
    {
        gap: 24px;
    }


    .contacts_info .item
    {
        font-size: 22px;

        padding: 40px;

        gap: 40px;
    }


    .contacts_info .item .arrow
    {
        right: 40px;
        bottom: 40px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback .form
    {
        width: calc(50% - 12px);
    }



    /*------------------
        Three whales
    ------------------*/
    .three_whales .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }


    .three_whales .row > *
    {
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .three_whales .item.big
    {
        width: calc(100% - 732px);
        padding: 24px;
    }


    .three_whales .item .data
    {
        padding: 28px;
    }



    /*-----------------
        About stats
    -----------------*/
    .about_stats .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }


    .about_stats .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .about_stats .item
    {
        padding-left: 80px;
    }



    /*-------------------
        About objects
    -------------------*/
    .about_objects
    {
        padding-right: 24px;
        padding-left: 24px;
    }


    .about_objects .data
    {
        padding: 24px 0;
    }


    .about_objects .info
    {
        width: calc(100% - 602px);
        margin-left: -88px;
        padding: 48px 60px 72px 100px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row
    {
        margin-bottom: -48px;
        margin-left: -24px;
    }


    .articles .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 48px;
        margin-left: 24px;
    }



    /*--------------
        Services
    --------------*/
    .services .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }


    .services .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .services .service
    {
        padding: 24px;
    }


    .services .service .desc
    {
        font-size: 16px;
        line-height: calc(100% + 4px);
    }


    .services .service .desc.padding
    {
        padding-right: 48px;
    }



    .services .buttons
    {
        margin-top: 48px;
        margin-bottom: -24px;
        margin-left: -24px;
    }


    .services .buttons > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }



    /*--------------------
        Download files
    --------------------*/
    .download_files .item .form
    {
        padding-top: 24px;
    }


    .download_files .item .form .row > *
    {
        width: calc(50% - 12px);
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-right: 24px;
        padding-left: 24px;
    }
}
