@media print,
(max-width: 1899px)
{
    /*-------------------
        Global styles
    -------------------*/
    .cont
    {
        padding: 0 24px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-right: 24px;
        padding-left: 24px;
    }


    .first_section .data
    {
        padding-left: 120px;
    }


    .first_section .cont
    {
        min-height: 632px;
        padding-top: 40px;
        padding-bottom: 40px;
    }


    .first_section .title
    {
        margin-bottom: 80px;
    }


    .first_section .solutions
    {
        top: 212px;
        right: 92px;
    }


    .first_section .big_arrow
    {
        left: -24px;

        width: 140px;
        height: 146px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-right: 24px;
        padding-left: 24px;
    }
}
