@media print,
(max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 16px;
        --font_size_title: 36px;
        --font_size_title_big: 56px;
    }


    .block
    {
        margin-bottom: 60px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        margin-top: 48px;
    }



    /*------------
        Header
    ------------*/
    header .menu
    {
        gap: 28px;
    }


    header .search
    {
        margin-left: 28px;
    }


    header .search .input
    {
        font-size: 18px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head .cont
    {
        min-height: 424px;
    }


    .page_head.small .cont
    {
        min-height: 240px;
        padding-top: 60px;
        padding-bottom: 60px;
    }


    .page_head .big_arrow,
    .page_head.small .big_arrow
    {
        top: 32px;
    }


    .page_head .title.big_m
    {
        margin-bottom: 48px;
    }


    .page_head .desc,
    .page_head .desc.big_w
    {
        font-size: 18px;

        width: 456px;
    }


    .page_head .date
    {
        margin-top: 40px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head.big_m
    {
        margin-bottom: 48px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns
    {
        --form_columns_offset: 24px;
    }


    .form .checkbox
    {
        font-size: 14px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 18px;
    }


    .text_block .slider .swiper-horizontal > .swiper-pagination-bullets,
    .text_block .slider .swiper-pagination-bullets.swiper-pagination-horizontal,
    .text_block .slider .swiper-pagination-custom,
    .text_block .slider .swiper-pagination-fraction
    {
        bottom: 20px;

        gap: 16px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        min-height: 600px;
    }


    .first_section .circle_text
    {
        top: 24px;
        right: 24px;

        width: 84px;
        height: 84px;
    }


    .first_section .solutions
    {
        top: 168px;
        right: 80px;
    }


    .first_section .sub_title
    {
        font-size: 22px;
    }


    .first_section .big_arrow
    {
        top: 32px;
    }



    /*---------------
        Equipment
    ---------------*/
    .equipment .swiper
    {
        padding-bottom: 52px;
    }



    /*-------------------
        Category info
    -------------------*/
    .category_info .text_block
    {
        font-size: var(--font_size);
    }


    .category_info .item .items
    {
        font-size: var(--font_size);
    }



    /*--------------
        Articles
    --------------*/
    .articles .swiper
    {
        padding-bottom: 52px;
    }


    .articles .article .name
    {
        font-size: 20px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .item
    {
        font-size: 20px;

        padding: 40px 24px;
    }


    .contacts_info .item .arrow
    {
        right: 24px;
        bottom: 24px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback .form
    {
        padding: 24px 32px 88px;
    }


    .feedback .form .submit_btn
    {
        margin-right: -32px;
        margin-bottom: -32px;
    }



    /*------------------
        Three whales
    ------------------*/
    .three_whales .item
    {
        height: 360px;
    }


    .three_whales .item.middle
    {
        width: 420px;
    }


    .three_whales .item.big
    {
        width: calc(100% - 702px);
    }


    .three_whales .item .data
    {
        padding: 24px;
    }


    .three_whales .item .desc br
    {
        display: none;
    }



    /*-----------------
        About stats
    -----------------*/
    .about_stats .item
    {
        padding-left: 68px;
    }


    .about_stats .item .desc
    {
        font-size: 20px;
    }


    .about_stats .item .desc br
    {
        display: none;
    }



    /*-------------------
        About objects
    -------------------*/
    .about_objects .image
    {
        width: 620px;
    }


    .about_objects .info
    {
        width: calc(100% - 540px);
        margin-left: -80px;
        padding: 40px 40px 60px 80px;
    }


    .about_objects .info .desc
    {
        font-size: 20px;
        line-height: calc(100% + 4px);

        margin-top: 32px;
    }


    .about_objects .info .link
    {
        bottom: 50px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .head .data
    {
        font-size: 20px;
    }


    .product_info .col_main
    {
        width: calc(100% - 440px);
    }


    .product_info .order_code .label
    {
        margin-bottom: 28px;
        padding-bottom: 11px;
    }



    /*--------------
        Services
    --------------*/
    .services .service .name
    {
        font-size: 20px;

        width: calc(100% - 72px);
    }


    .services .service .icon
    {
        width: 52px;
        height: 60px;
    }


    .services .service .desc.padding
    {
        padding-right: 64px;
    }



    /*------------
        Footer
    ------------*/
    footer .cont
    {
        gap: 40px 140px;
    }


    footer .subscribe
    {
        width: 360px;
    }


    footer .subscribe .checkbox
    {
        font-size: 14px;
    }


    footer .email
    {
        font-size: 40px;

        margin-top: 40px;
    }


    footer .socials
    {
        gap: 24px;
    }


    footer .bottom
    {
        font-size: 14px;
    }
}
