@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 32px;
        --font_size_title_big: 48px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }


    .swiper-pagination-bullets
    {
        height: 10px;
    }


    .swiper-pagination-bullet
    {
        width: 10px;
        height: 10px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 24px;
    }



    /*------------
        Header
    ------------*/
    header .menu
    {
        gap: 24px;
    }


    header .menu_item:first-child
    {
        margin-right: 88px;
    }


    header .sub_menu
    {
        padding: 24px;
    }


    header .sub_menu .row
    {
        margin-left: -48px;
    }


    header .sub_menu .row > *
    {
        width: calc(33.333% - 48px);
        margin-left: 48px;
    }


    header .sub_menu .row > *:before
    {
        left: -24px;
    }


    header .search form
    {
        max-width: calc(100vw - 268px);
    }


    header .search .input
    {
        height: 40px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head .data
    {
        padding-left: 104px;
    }


    .page_head .cont
    {
        min-height: 348px;
    }


    .page_head.small .cont
    {
        min-height: 220px;
        padding-top: 52px;
        padding-bottom: 52px;
    }


    .page_head .big_arrow
    {
        top: 30px;

        width: 120px;
        height: 125px;
    }


    .page_head.small .big_arrow
    {
        top: 30px;
    }


    .page_head .title.big_m
    {
        margin-bottom: 40px;
    }


    .page_head .desc,
    .page_head .desc.big_w
    {
        font-size: 16px;

        width: 340px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head.big_m
    {
        margin-bottom: 40px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .submit .agree
    {
        width: 100%;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 16px;
    }


    .text_block .slider .swiper-horizontal > .swiper-pagination-bullets,
    .text_block .slider .swiper-pagination-bullets.swiper-pagination-horizontal,
    .text_block .slider .swiper-pagination-custom,
    .text_block .slider .swiper-pagination-fraction
    {
        bottom: 16px;

        gap: 12px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        min-height: 564px;
    }


    .first_section .data
    {
        padding-left: 104px;
    }


    .first_section .solutions
    {
        top: 148px;
        right: 24px;

        width: 192px;
        padding: 16px;
    }


    .first_section .desc br
    {
        display: none;
    }


    .first_section .hr
    {
        margin-top: 12px;
    }


    .first_section .link_arrow
    {
        margin-top: 20px;
    }


    .first_section .big_arrow
    {
        top: 30px;

        width: 120px;
        height: 125px;
    }



    /*---------------
        Equipment
    ---------------*/
    .equipment .swiper
    {
        padding-bottom: 48px;
    }


    .equipment .item .thumb
    {
        height: 252px;
    }


    .equipment .buttons .btn
    {
        font-size: 16px;
        line-height: calc(100% + 4px);

        min-height: 48px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .article .thumb
    {
        margin-bottom: 20px;
    }


    .articles .article .name
    {
        font-size: 18px;
    }


    .articles .article .desc
    {
        font-size: 14px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .item
    {
        font-size: 18px;

        gap: 24px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback .form
    {
        padding: 24px 24px 80px;
    }


    .feedback .form .submit_btn
    {
        margin-top: 24px;
        margin-right: -24px;
        margin-bottom: -24px;
        margin-left: auto;
    }



    /*------------------
        Three whales
    ------------------*/
    .three_whales .row > *
    {
        width: 184px;
    }


    .three_whales .item
    {
        font-size: 20px;

        height: 300px;
    }


    .three_whales .item.middle
    {
        width: 340px;
    }


    .three_whales .item.big
    {
        width: calc(100% - 596px);
        padding: 12px;
    }


    .three_whales .item .desc
    {
        font-size: 16px;
        line-height: 20px;
    }


    .three_whales .item .number
    {
        font-size: 20px;

        right: 12px;
        bottom: 12px;

        width: 52px;
        height: 52px;
    }



    /*-----------------
        About stats
    -----------------*/
    .about_stats .row
    {
        padding: 0;
    }


    .about_stats .item
    {
        padding: 24px;
    }


    .about_stats .item .icon
    {
        height: 40px;
    }


    .about_stats .item .desc
    {
        font-size: 18px;
    }



    /*-------------------
        About objects
    -------------------*/
    .about_objects .image
    {
        width: 60%;
    }


    .about_objects .info
    {
        width: calc(50% + 48px);
        margin-left: calc(-10% - 48px);
        padding: 40px 40px 40px 48px;
    }


    .about_objects .info .title
    {
        font-size: 16px;

        height: 36px;
        padding-left: 28px;
    }


    .about_objects .info .title:after
    {
        width: 44px;
        height: calc(100% + 1px);
    }


    .about_objects .info .desc
    {
        font-size: 18px;
    }


    .about_objects .info .link
    {
        bottom: 32px;
    }


    .about_objects .info .link span
    {
        height: 44px;
        padding: 0 20px;
    }


    .about_objects .info .link .arrow
    {
        width: 44px;
        height: 44px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .head .data
    {
        font-size: 18px;
    }


    .product_info .col_left
    {
        width: 312px;
    }


    .product_info .files a
    {
        font-size: 16px;
    }


    .product_info .files span
    {
        width: calc(100% - 53px);
    }


    .product_info .col_main
    {
        width: calc(100% - 380px);
    }


    .product_info .order_code .label
    {
        font-size: 16px;
    }


    .product_info .text_block
    {
        font-size: 16px;
    }


    .product_info .text_block ul li:before
    {
        top: 9px;
    }



    /*--------------
        Services
    --------------*/
    .services .row > *
    {
        width: calc(50% - 24px);
    }


    .services .service .desc.padding
    {
        padding-right: 88px;
    }


    .services .buttons .btn
    {
        font-size: 16px;
        line-height: calc(100% + 4px);

        min-height: 48px;
    }



    /*--------------------
        Download files
    --------------------*/
    .download_files .data
    {
        padding: 60px 0;
    }


    .download_files .items
    {
        width: calc(100% - 400px);

        gap: 32px;
    }


    .download_files .item .name
    {
        font-size: 20px;
    }


    .download_files .item .nice-select .current
    {
        height: 48px;
    }


    .download_files .item select ~ .arr
    {
        top: 20px;
    }



    /*------------
        Footer
    ------------*/
    footer .bottom
    {
        padding: 20px 0;
    }


    footer .cont
    {
        justify-content: space-between;

        gap: 40px;
    }


    footer .subscribe
    {
        width: 352px;
    }


    footer .email
    {
        font-size: 36px;
    }
}
