@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 28px;
        --font_size_title_big: 40px;
    }



    /*------------
        Header
    ------------*/
    header .cont
    {
        padding-top: 24px;
        padding-bottom: 24px;
    }


    header .menu
    {
        position: absolute;
        top: 100%;
        left: 100%;

        flex-direction: column;

        width: 100%;
        padding: 48px 24px;

        transition: transform .3s linear;

        border-top: 1px solid #9bbdda;
        background: var(--bg);

        gap: 20px;
    }


    header .menu.show
    {
        transform: translateX(-100%);
    }


    header .menu_item
    {
        width: 100%;
    }


    header .menu_item:first-child
    {
        margin-right: 0;
    }


    header .menu_item > a
    {
        font-size: 16px;

        justify-content: flex-start;
    }


    header .menu_item > a .arr
    {
        margin-top: 2px;
        margin-left: 4px;
    }


    header .menu_item > a:after
    {
        display: none;
    }


    header .sub_menu
    {
        position: relative;

        display: none;
        visibility: visible;

        width: 100%;
        padding: 20px 0 0;

        pointer-events: auto;

        opacity: 1;
    }


    header .sub_menu.show
    {
        display: block;
    }


    header .sub_menu .row
    {
        margin-left: 0;
    }


    header .sub_menu .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    header .sub_menu a
    {
        padding: 8px 0;
    }


    header .mob_menu_btn
    {
        display: flex;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head .data
    {
        padding-right: 0;
        padding-left: 80px;
    }


    .page_head.small .cont
    {
        min-height: 180px;
        padding-top: 40px;
        padding-bottom: 40px;
    }


    .page_head .big_arrow
    {
        width: 100px;
        height: 105px;
    }


    .page_head.small .big_arrow
    {
        top: 25px;
    }


    .page_head .desc,
    .page_head .desc.big_w
    {
        font-size: var(--font_size);

        width: 268px;
    }


    .page_head .date
    {
        font-size: 18px;

        margin-top: 36px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 40px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: var(--font_size);
    }


    .text_block > *
    {
        margin-bottom: 20px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        min-height: 556px;
    }


    .first_section .data
    {
        padding-left: 80px;
    }


    .first_section .big_arrow
    {
        width: 100px;
        height: 105px;
    }


    .first_section .circle_text
    {
        top: 16px;
        right: 16px;

        width: 80px;
        height: 80px;
    }


    .first_section .title
    {
        padding-right: 80px;
    }


    .first_section .solutions
    {
        font-size: 14px;

        top: 180px;
        right: 16px;

        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        width: 188px;
        padding: 12px;
    }


    .first_section .solutions .icon
    {
        width: 40px;
        height: 20px;
    }


    .first_section .sub_title
    {
        font-size: 20px;

        gap: 16px;
    }


    .first_section .desc
    {
        font-size: 14px;
        line-height: 16px;
    }


    .first_section .link
    {
        line-height: 16px;
    }


    .first_section .link_arrow
    {
        margin-top: 16px;
    }



    /*---------------
        Equipment
    ---------------*/
    .equipment .swiper
    {
        padding-bottom: 40px;
    }


    .equipment .item .thumb
    {
        height: 248px;
    }



    /*-------------------
        Category info
    -------------------*/
    .category_info .item .thumb
    {
        width: 88px;
        height: 88px;
    }


    .category_info .item .name
    {
        font-size: 20px;

        padding: 12px 0;
    }


    .category_info .item .data
    {
        padding-top: 24px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row > *
    {
        width: calc(50% - 24px);

        --count: 2;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .item
    {
        font-size: 16px;

        padding: 24px 24px 60px;
    }


    .contacts_info .item br
    {
        display: none;
    }


    .contacts_info .item .arrow
    {
        width: 60px;
        height: 24px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback .data
    {
        width: 100%;
        margin-bottom: 48px;
    }


    .feedback .block_head
    {
        margin-bottom: 24px;
    }


    .feedback .block_head .title br ~ br
    {
        display: none;
    }


    .feedback .email a
    {
        height: 40px;
        padding: 0 15px;
    }


    .feedback .form
    {
        width: 100%;
        margin-top: 32px;
        padding: 24px 24px 80px;
    }



    /*------------------
        Three whales
    ------------------*/
    .three_whales .row > *,
    .three_whales .item.middle
    {
        width: calc(50% - 24px);
    }


    .three_whales .item
    {
        height: 280px;
    }


    .three_whales .item.big
    {
        width: calc(100% - 24px);
        padding: 24px;
    }



    /*-----------------
        About stats
    -----------------*/
    .about_stats .row > *
    {
        width: calc(50% - 24px);
    }


    .about_stats .item .desc
    {
        font-size: 16px;
    }



    /*-------------------
        About objects
    -------------------*/
    .about_objects .image
    {
        width: 100%;
    }


    .about_objects .image img
    {
        height: auto;
    }


    .about_objects .info
    {
        width: calc(100% - 48px);
        margin: -48px auto 0;
        padding: 40px 48px;
    }


    .about_objects .info .title
    {
        font-size: 16px;

        height: 36px;
        padding-left: 28px;
    }


    .about_objects .info .title:after
    {
        width: 44px;
        height: calc(100% + 1px);
    }


    .about_objects .info .desc
    {
        font-size: 18px;
    }


    .about_objects .info .link
    {
        bottom: 32px;
    }


    .about_objects .info .link span
    {
        height: 44px;
        padding: 0 20px;
    }


    .about_objects .info .link .arrow
    {
        width: 44px;
        height: 44px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .head
    {
        margin-bottom: 40px;
    }


    .product_info .head .data
    {
        font-size: 16px;
    }


    .product_info .col_left
    {
        width: 100%;
    }


    .product_info .col_main
    {
        width: 100%;
        margin-top: 40px;
    }


    .product_info .back_link
    {
        display: none;
    }



    /*--------------
        Services
    --------------*/
    .services .service .name
    {
        width: calc(100% - 64px);
    }


    .services .service .icon
    {
        width: 48px;
        height: 52px;
    }


    .services .service .desc.padding
    {
        padding-right: 0;
        padding-bottom: 48px;
    }



    /*--------------------
        Download files
    --------------------*/
    .download_files .items
    {
        width: 100%;
    }



    /*------------
        Footer
    ------------*/
    footer .col:first-child
    {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;

        width: 100%;
    }


    footer .logo
    {
        width: 100%;
    }


    footer .email
    {
        font-size: 32px;
    }
}
